.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1 px solid #f9f9f9;
    align-items: center;
}

.header-icon {
padding: 20px;
border-radius: 50%;
}

.header-icon:hover {
    opacity: 0.3;
    transform: scale(1.5);
    transition-duration: 0.5s;
    background-color: grey;
    
};